### Data Types
1. Numerical - Float(1.2,4.3,54.5,... and integer(1,2,3..)
2. String 
3. Boolean

### Numeric

In [1]:
#Numeric data type is numbers like integers , float,etc
val1=34             #Integer
val2=5.4           #Float
print(val1)
print(val2)


#Type function is used to  check the data type
print(type(val1))   #type of val1
print(type(val2))   #type of val2

34
5.4
<class 'int'>
<class 'float'>

In [2]:
#Convert integer value to float
float(val1)

34.0

In [3]:
#convert float value to integer
int(val2)

5

### String
it is text of words or sentence .

In [4]:
 
#string is basically text data
str1="Hello World"
print(str1)

Hello World

In [5]:
#string is assigned to variable by {"__"}
name1="Jai"
print(name1)

Jai

In [6]:
#string is always stored in singl or double inverted comma
str(val1)    #numbers can also be included in string by changing their type to string

'34'

### Boolean

In [7]:
#Boolean
#Boolean data type can have two possible values i.e. True or False
bool1=True
bool2=False
print(bool1)
print(bool2)

True
False

### Performing arithmetic operations in python

In [8]:
a=val1
b=val2

#addition
add=print(a+b)

#subtraction
sub=print(a-b)

#multiplication
mult=(print(a*b))

#division
div=print(a/b)

39.4
28.6
183.60000000000002
6.296296296296296

In [9]:
#logical operators (<,>,<=,>=,)
a=5
b=13

#the logical operators as printed as true or false
print(a<b)     
print(a>b)
print(a==b)
print(a<=b)
print(a>=b)

True
False
False
True
False

Arithmetic operations can also be done in simpler way as:-

In [10]:
y=4

In [11]:
x=10

In [12]:
x=10+20
x

30

In [13]:
x+=20 #x=x+20
x

50

In [14]:
y-=2
y

2

In [15]:

x=10
y=5
x+=y # assignment always goes to first variable i.e. x-->x=x+y
print('x:',x)
print('y:',y)

x: 15
y: 5

### String Manipulations

In [16]:
str1="Hello World"
print(str1)
print(type(str1))
txt="she said,\"what time is it?\""   #as double inverted comma cannot be used in string function which starts by double inverted comma at that time \ is used to escape from that error
print(txt)
print(type(txt))

Hello World
<class 'str'>
she said,"what time is it?"
<class 'str'>

In [17]:
#String connection 
sent1="Jai"
sent2=" Nale"

name=sent1+sent2
print(name)

Jai Nale

In [18]:
#replacement of text in string
x1="kghgm"
print(x1)
x1.replace("g","j")

kghgm

'kjhjm'

### Indexing  
Indexing is extracting single value in a perticular location. Indexing is done by assigning numbers to every alphabet starting with zero.

In [19]:
print(name)
print(name[2])    #extract value at index 2
print(name[0])    #extract value at index 0
print(len(name))   #length of text

Jai Nale
i
J
8

In [20]:
print(name[-1])    #to extract values in reverse order we can add '-' sign in front number we want

e

### place holder 
place holder is used when we want to add two different  string

In [21]:
state='my name is %s'   # %s is place holder which is used for adding string to extisting string
state%('Jai')

'my name is Jai'

In [22]:
age='my age is %d'   #%d is place holder which is used for adding number to existion string
age%(21)

'my age is 21'

### String functions

In [23]:
txt1="     Hello World    "
print(txt1)
print(type(txt1))

     Hello World
<class 'str'>

In [24]:
#removing extra space in string
txt1.strip()

'Hello World'

In [25]:
txt1.lower()       #return whole string in lower case

'     hello world    '

In [26]:
txt1.upper()        #return whole string in upper case

'     HELLO WORLD    '

In [27]:
#count 
txt2="one two one four six one five four one one "
txt2.count('one')        #count the number of times a word is repeated in string

5